1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Vertcoin Project"
      VALUE "FileDescription", "Generating verthash.dat"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "create-verthash-datafile"
      VALUE "LegalCopyright", "MIT License Copyright 2020 James Lovejoy, Gert-Jaap Glasbergen, jk_14"
      VALUE "OriginalFilename", "create-verthash-datafile.exe"
      VALUE "ProductName", "Create Verthash Datafile"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END